---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Email",
		link: "mailto:lingyue.ma@fu-berlin.de",
		name: "mdi:email-outline",
	},
	{
		friendlyName: "GitHub",
		link: "https://github.com/Lingyue-001",
		name: "mdi:github",
	},
	{
		friendlyName: "CV",
		link: "/Lingyue_Ma_CV.pdf",
		name: "mdi:file-document-outline",
	},
];
---

<div class="mt-6">
	<ul class="text-muted flex items-center gap-x-4">
		{
			socialLinks.map(({ friendlyName, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-block"
						href={link}
						rel={link.startsWith("http") ? "noreferrer" : undefined}
						target={link.startsWith("http") || link.endsWith(".pdf") ? "_blank" : undefined}
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
